{% if getpageparts(page, 'introduction') %}
<div class="row">
    <div class="col-sm-4">
        <h2>Thrive<span>{{ page.title }}<span></h2>
    </div>
    <div class="col-sm-8">
        {{ render_pageparts(page, 'introduction') }}
    </div>
</div>

<div class="row-bordered"></div>
{% endif %}

<div class="row">
    <div class="col-sm-8">
        {{ render_pageparts(page, 'main') }}
    </div>
    <div class="col-sm-4">
        {{ render_pageparts(page, 'sidebar') }}
    </div>
</div>