/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/Resources/node_modules/*
!app/Resources/node_modules/.gitkeep
/vendor/
/bin/*
!bin/fullreload
!bin/travis_*
/composer.phar
.idea
web/generated-js
web/generated-css
web/uploads/*
!web/uploads/.gitkeep
/backups
/web/frontend/.temp
/web/frontend/*.css
/web/frontend/*.js
.DS_Store
.buildpath
.project
.settings/
*.sublime-project
*.sublime-workspace
web/vendor/
.sass-cache/
web/css
