<footer role="footer">
    <div>
        <div>
            <div>
                <p>&copy {{ "now"|date('Y') }} {{ websitetitle }}</p>
                <p>Site by <a href="http://my-studio.ca" target="_blank" title="My Studio">My Studio</a> &amp; <a href="http://tentwentyfour.ca" target="_blank">TenTwentyFour</a></p>
            </div>
        </div>
    </div>
</footer>