/* ==========================================================================
   Colors

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

$black:             #25281e;
$white:             #fff;

$gray-darker:       #444;
$gray-dark:         #555;
$gray:              #818181;
$gray-light:        #ddd;
$gray-lighter:      #eee;

$brand-color-1:     purple;