{% extends 'Ten24GenericClientWebsiteBundle:Page:layout.html.twig' %}

{% block content %}
    <div class="page-content">
        <div>
            Welcome to the internets.
        </div>

        <div class="sidebar">
            Sidebar content
        </div>
    </div>
{% endblock %}